.cardName {
    width: 180px;
    height: 30px;
    position: absolute;
    margin-top: -47px;
    margin-left: 200px;
    font-size: 20px;
    color: white;
}

.cardNumber {
    width: 275px;
    height: 30px;
    position: absolute;
    margin-top: -100px;
    margin-left: 90px;
    font-size: 25px;
    color: white;
    /* display: flex; */
}

.cardDate {
    width: 56px;
    height: 30px;
    position: absolute;
    margin-top: -50px;
    margin-left: 72px;
    font-size: 24px;
    color: white;
}

.cardCvv {
    width: 30px;
    height: 25px;
    position: relative;
    margin-top: -138px;
    font-size: 20px;
    margin-left: 230px;
}

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #d6e8fc;
}

.container {
    width: 450px;
    height: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 0px 3px 10px #91abc9;
    margin-top: 200px;
}

.inputNumber {
    width: 422px;
    height: 25px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
}

.inputName {
    width: 422px;
    height: 25px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
}

.cardName {
    text-transform: uppercase

}

.month-input {
    width: 50px;
    height: 31px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
}

.year-input {
    width: 50px;
    height: 31px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
}

.inputCvv {
    height: 25px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
}

.box {
    padding: 10px;
    /*width: 100px;*/
}

.button1 {
    width: 400px;
    height: 40px;
    background-color: #1765da;
    color: whitesmoke;
    border-color: #1765da;
    border-radius: 4px;
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    padding-left: 20px;
}

.ccv-box {
    display: flex;
    justify-content: space-between;
}

.card-img img {
    width: 350px;
}

.card-front .card-img {
    margin-top: -230px;
    display: flex;
    justify-content: center;
}

.card-back .card-img {
    margin-top: -230px;
    display: flex;
    justify-content: center;
}
.card-front {
    z-index: 2;
}
.card-back {
    z-index: 1;
    transform: rotateY(-180deg);
}

.card-side {
    backface-visibility: hidden;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}

/* .visa {
    height: 20px;
    position: absolute;
    margin-top: -200px;
    margin-left: 300px;
    opacity: 0;
}
.mastercard {
    height: 45px;
    position: absolute;
    margin-top: -200px;
    margin-left: 310px;
    opacity: 0;
}
.discover {
    height: 50px;
    position: absolute;
    margin-top: -215px;
    margin-left: 285px;
    opacity: 0;
} */

.card-logo{
    height: 50px;
    margin-top: -215px;
    margin-left: 285px;
    position: fixed;
    
}

.visible {
    opacity: 1 !important;
}
.is-changing {
    transform: translateY(-10px);
    transition: transform 300ms;
;

  }
 